/* #694f29 #b4a266 rgb(146, 116, 77) */


@font-face {
        font-family: 'Warcraft';
        src: url(../fonts/Warcraft.ttf) format('truetype');
    }





/* mobile styles*/

body {
    background-color: #694f29;
    font-family: Arial, sans-serif;
    font-weight: 300;
    font-size: large;
    line-height: 1.6;
    text-align: center;
}

#container {
    width: 90%;
    margin: 0 auto;
    background-color: #b4a266;
    padding: 20px;
    overflow: hidden;
}


header img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border: rgb(146, 116, 77) 8px solid;
    box-sizing: border-box;
    margin-bottom: 10px;
}

nav {
    background-color: rgb(146, 116, 77);
    padding: 10px 0px;
    margin-bottom: 20px;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    display: block;
    justify-content: center;
    font-size: 25px;
    padding-left: 0px;
}

nav ul li {
    margin: 0 1%;
}

nav ul li a {
    display: block;
    color: #000;
    background-color: #694f29;
    padding: 5px 15px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: rgb(146, 116, 77) 5px solid;
}

nav ul li a:hover {
    color: #ffffff;
}

a {
    color: #ffd000;
    text-decoration: underline;
}

h1, h2, h3 {
    font-family: 'Warcraft', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

b {
    font-weight: 600;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(146, 116, 77);
    text-align: left;
}

hr {
    border: 3px solid #000;
    margin: 20px 0;
}

.hrsmall {
    border: 1px solid #000
}

.imgs {
    max-width: 90%;
    height: auto;
    border: #694f29 5px solid;
    box-sizing: border-box;
    margin: 20px auto;
    display: block;
    justify-self: center;
}

.imgs-col {
    max-width: 80%;
    height: auto;
    border: #694f29 5px solid;
    box-sizing: border-box;
    margin: 20px auto;
    display: block;
    justify-self: center;
}

.imgs-col-large {
    max-width: 100%;
    height: auto;
    border: #694f29 5px solid;
    box-sizing: border-box;
    margin: 20px auto;
    display: block;
    justify-self: center;
}

.two-column {
    column-count: 1;
    column-gap: 20px;
    padding-bottom: 20px;
}

.multi-column {
    column-count: 1;
    column-gap: 20px;
}

.contact {
    text-align: left;
}

iframe {
    display: block;
    margin: 0 auto;
}





/* Class colors */

.Alliance {
    margin-top: 0px;
    padding-top: 0px;
    color: #0070DD;
    text-shadow:
       -1px -1px 0 #000,
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
}

.Horde {
    margin-top: 0px;
    padding-top: 0px;
    color: rgb(201, 0, 0);
    text-shadow:
       -1px -1px 0 #000,
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
}

.warrior {
    margin: 0px;
    padding: 0px;
    color: #C69B6D;
    text-shadow:
       -1px -1px 0 #000,
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
}

.paladin {
    margin: 0px;
    padding: 0px;
    color: #F48CBA;
    text-shadow:
       -1px -1px 0 #000,
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
}

.shaman {
    margin: 0px;
    padding: 0px;
    color: #0070DD;
    text-shadow:
       -1px -1px 0 #000,
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
}

.hunter {
    margin: 0px;
    padding: 0px;
    color: #AAD372;
    text-shadow:
       -1px -1px 0 #000,
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
}

.rogue {
    margin: 0px;
    padding: 0px;
    color: #FFF468;
    text-shadow:
       -1px -1px 0 #000,
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
}

.priest {
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
    text-shadow:
       -1px -1px 0 #000,
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
}

.mage {
    margin: 0px;
    padding: 0px;
    color: #3FC7EB;
    text-shadow:
       -1px -1px 0 #000,
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
}

.warlock {
    margin: 0px;
    padding: 0px;
    color: #8788EE;
    text-shadow:
       -1px -1px 0 #000,
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
}

.druid {
    margin: 0px;
    padding: 0px;
    color: #FF7C0A;
    text-shadow:
       -1px -1px 0 #000,
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
}






/* tablet styles*/
@media (min-width: 768px) and (max-width: 1024px) {
    
    body {
    text-size-adjust: 200%;
    background-image: url("../images/background-dark.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    }

    nav {
        text-align: left;
    }

    nav ul {
        display: flex;
        font-size: 15px;
    }

    .imgs {
        max-width: 80%;
    }

    .contact {
    text-align: center;
}
}




/* desktop styles*/
@media (min-width: 1025px) {

    body {
        text-align: left;
        background-image: url("../images/background-dark.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    nav ul li {
    margin: 0 10px;
    display: inline-block;
}

nav ul li a {
    display: block;
    background-color: transparent;
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
}

.imgs {
    max-width: 50%;
}

.two-column {
    column-count: 2;
}

.multi-column {
    column-count: 3;
}

.multi-column section {
    break-inside: avoid;
}

.contact {
    text-align: center;
}

}